{% extends "blog/base.html" %}

{% load static %}

{% block title %}
<title>PROJECTS</title>
{% endblock title %}


{% block content %}
<iframe
  src="{% static 'projects/index.html' %}"
  width="100%"
  height="600"
  style="border:none;">
</iframe>
{% endblock content %}

{% block sidebar %}

<div class="content-section">
    <h3>GMM_Simulation</h3>
    <p class='text-muted'>This is a pygame project which uses the gravitational formuala GMM/r squared to simulate objects over a mass
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
        <dt class="col-sm-8">HOW TO PLAY</dt>
        <dd class="col-sm-12">Click once and then move your mouse to see a white line this line is the trajectory the red dot (the one you just made by clicking) follows.</dd>
        </li>
        <li class="list-group-item list-group-item-light">
        <dt class="col-sm-8">PACKAGES USED</dt>
        <dd class="col-sm-12">Math, Pygame</dd>
        </li>
        <li class="list-group-item list-group-item-dark">
        <dt class="col-sm-8">TIME TAKEN</dt>
        <dd class="col-sm-12">Approx one day of work(6 hours)</dd>
        </li>

        <li class="list-group-item list-group-item-light">
        <dt class="col-sm-8">POSSIBLE EXT</dt>
        <dd class="col-sm-12">Add GUI to change planets/environment to simulate different gravitational forces</dd>
        </li>
      </ul>
    <a href="{% url 'blog-home' %}">
        <button type="button" class="btn btn-success" style="width: 300px;">Return</button>
    </a>
    </p>
</div>
{% endblock sidebar %}

