{% extends "blog/base.html" %}

{% load static %}

{% block title %}
<title>PROJECTS</title>
{% endblock title %}


{% block content %}
<iframe
  src="{% static 'projects/index.html' %}"
  width="100%"
  height="600"
  style="border:none;">
</iframe>

    <style>
        .button_leave{
           position:
           padding: 25px 50px;
           border-radius: 8px;
           text-align: center;
           background-color: rgb(255,0,0);
           color: black;
           transform : scaleX(1.5);
           transform : scaleY(1.5);

        }

        .button_leave:hover{
           background-color: #e7e7e7;color: grey
        }

        .button_leave:active {
          transform: translateY(4px);
        }
    </style>

    <div id=html style="position: fixed; bottom: 50px; left: 50%;">
        <a href="{% url 'blog-home' %}">
        <button class="button_leave">RETURN</button>
        </a>

    </div>
{% endblock content %}

{% block sidebar %}

<div class="content-section">
    <h3>GMM_Simulation</h3>
    <p class='text-muted'>This is a pygame project which uses the gravitational formuala GMM/r squared to simulate objects over a mass
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
        <dt class="col-sm-3">How to play</dt>
        <dd class="col-sm-9">Click once and then move your mouse to see  .</dd>
        </li>
        <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-dark">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
      </ul>
    </p>
</div>
{% endblock sidebar %}

